<mat-card class="login-card">
<mat-card-header>
<mat-card-title>
Login
</mat-card-title>
</mat-card-header>
<mat-card-content>
<form>
<table cellspacing="0" class="full-width">
<tr>
  <td>
    <mat-form-field class="full-width">
      <input
      name="email"
      [(ngModel)]="email"
      matInput
      placeholder="Email"
      required
      type="email"
    />
    <mat-icon matSuffix class="icon">email</mat-icon>
    </mat-form-field>
  </td>
</tr>
<tr>
  <td>
    <mat-form-field class="full-width">
      <input
      name="password"
      [(ngModel)]="password"
      matInput
      placeholder="Password"
      required
      matInput [type]="hide ? 'password' : 'text'"/>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
    </mat-form-field>
    </td>
  </tr>
<tr>
<td>
<mat-error *ngIf="error">{{error | async}}</mat-error>
</td>
</tr>
</table>
</form>
</mat-card-content>
<mat-card-actions>
  <button class="full-width"
  mat-raised-button
  color="primary"
  (click)="login()"
  [tabIndex]="0"> Login</button>

  <div style="margin-top: 2em">
  <span>
New to Lap Mart?..
<a [routerLink]="['/auth/register']">Sign Up</a> here.
</span>
</div>
</mat-card-actions>
</mat-card>


