@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
a {
    margin: 2px;
    }
.logo
{
  background-image: url('../../../assets/logo.png');
  height: 95px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.3em;
  margin: 0px;
  padding: 0px;


}

.header-spacer{flex: 1 1 auto;}
.mat-icon{
vertical-align: middle;
margin: 05px;
}
.toolbar
{
  background-color: #0f0d0d
}

.pm-title{
  font-family: 'Aboreto', cursive;
font-size:medium;
margin-top: 10px;
}
.nav-b{
  font-family: 'Aboreto', cursive;
}


