.product-listing-image{
  height: 5em;
  width: 3.5em;
  padding: 20px;
  margin: 2px;
  border-radius: 27px;
}

.mat-dialog-title{
  padding: 0px;
  text-align: center;
  margin: 0px;
}

.pm-dialog-row{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shopping-btn{
  background-color: rgb(61, 141, 166);
}
