.example-card {
  max-width: 400px;
margin:15px ;
}

.full-width{
width: 100%;
}

.example-header-image {
background-size: cover;
}

.mat-table {
box-shadow: none;
width: 100%;
}

.product-listing-image {
height: 20em;
width: 15em;
}

@media all and (max-width:699px){
.product-listing-image{
height: 9em;
width: 7em;
}}

.mat-spinner {
margin:10% auto;
}
