.example-card {
  max-width: 400px;
height:147%;
margin: 15px;
}

.full-width{
width: 100%;
}

.example-header-image {
background-size: cover;
}

.mat-table {
box-shadow: none;
width: 100%;
background-color: rgb(0, 0, 0);
}

.product-listing-image {
height: 20em;
width: 25em;
}

@media all and (max-width:699px){
.product-listing-image{
height: 9em;
width: 7em;
}}

.mat-spinner {
margin:10% auto;
}
.border{
  background-color: #050101;
height: 110%;
}

.specs{
font-size: smaller;
}
