/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.icon{width: 100;height: 100;}
.spacer{
    flex: 1 1 auto;
}
.left-spacer{
    margin-left: 2%;
}

mat-dialog-container {
    background-color: rgb(41, 49, 53) !important;
 }

 .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #2A79FF!important;
}

main{
    text-align: center;
    position: relative;
}

video{
object-fit: fill;
width: 99%;
margin-right: 420px;
}

.userr{
  font-family: 'Handlee', cursive;
font-size: medium;
}



